#Environment variables to set up your AKS on HCI cluster
#name of the virtual switch to connect the virtual machines to
$vnetName= '{{ vnetName }}'
#external vswitch name
$vSwitchName= '{{ vSwitchName }}'
#first IP address for your VIP Pool
$vipPoolStart= '{{ vipPoolStart }}'
#last IP address for your VIP Pool
$vipPoolEnd= '{{ vipPoolEnd }}'
#first IP for the kubernetes nodes IP pool
$k8sNodeIpPoolStart= '{{ k8sNodeIpPoolStart }}'
#last IP for the kubernetes nodes IP pool
$k8sNodeIpPoolEnd= '{{ k8sNodeIpPoolEnd }}'
#Network range in CIDR
$ipAddressPrefix= '{{ ipAddressPrefix }}' 
#IP address for your networks gateway
$gateway= '{{ gateway }}'
#static IP address that will be assigned to your DNS server
$dnsServers= '{{ dnsServers }}'
#Provide a path to the directory where AKS on Azure Stack HCI will store its VHD images
$imageDir = '{{ imageDir }}'
#path to the directory where the cloud agent will store its configuration
$cloudConfigLocation = '{{ cloudConfigLocation }}'
#name for your AKS cluster
$clusterName = '{{ clusterName }}'.toLower()
$nodePoolName = '{{ nodePoolName }}'.toLower()
#number of Linux node VMs for your cluster
$nodeCount = '{{ nodeCount }}'
$osType = '{{ osType }}'

#Environment variables to onboard the cluster on Azure Arc 
#resource group to connect your Azure Arc enabled Kubernetes
$resourceGroup = '{{ resourceGroup }}'
#Azure region to connect your Azure Arc enabled Kubernetes
$location = '{{ location }}'
#subscription to connect your Azure Arc enabled Kubernetes
$subscriptionId = '{{ subscriptionId }}'
#appID of the service principal created
$appId = '{{ appId }}'
#password of the service principal created
$password = '{{ service_principal_password }}'
#tenantID
$tenant = '{{ tenantId }}'

