# PowerShell script to deploy an AKS cluster on HCI

. ./config_aks_variables.ps1

# AKS deployment on HCI 

If(!(test-path $imageDir))
{
      New-Item -ItemType Directory -Force -Path $imageDir
}

If(!(test-path $cloudConfigLocation))
{
      New-Item -ItemType Directory -Force -Path $cloudConfigLocation
}

$vnet = New-AksHciNetworkSetting -Name $vnetName -vSwitchName $vSwitchName -gateway $gateway -dnsservers $dnsServers `
    -ipaddressprefix $ipAddressPrefix -k8snodeippoolstart $k8sNodeIpPoolStart -k8snodeippoolend $k8sNodeIpPoolEnd `
    -vipPoolStart $vipPoolStart -vipPoolEnd $vipPoolEnd

Set-AksHciConfig -vnet $vnet -imageDir $imageDir -cloudConfigLocation $cloudConfigLocation -Verbose

$passwordsecure = ConvertTo-SecureString $password -AsPlainText -Force
$pscredential = New-Object -TypeName System.Management.Automation.PSCredential($appId, $passwordsecure)
Connect-AzAccount -ServicePrincipal -Credential $pscredential -Tenant $tenant
Register-AzResourceProvider -ProviderNamespace Microsoft.Kubernetes
Register-AzResourceProvider -ProviderNamespace Microsoft.KubernetesConfiguration

Select-AzSubscription -SubscriptionId $subscriptionId

Set-AksHciRegistration -SubscriptionId $subscriptionId -ResourceGroupName $resourceGroup -TenantId $tenant -Credential $pscredential

Install-AksHci

